{{ $item := .item }}
{{ $page := .page }}
{{ $description := $item.Params.description  }}
{{ $description =  $description | page.RenderString }}
<article class="md:grid md:grid-cols-4 md:items-baseline">
  <div class="md:col-span-3 group relative flex flex-col items-start">
    <time
      class="news-date md:hidden news-date relative z-10 order-first mb-3 flex items-center pl-1"
      datetime="{{ time.Format "2006-01-02" $item.Date }}">
      {{ time.Format (site.Params.locale.date_format | default ":date_long") $item.Date }}
    </time>
    <p class="news-description relative z-10 mt-2">{{$description}}</p>
  </div>
  <time
    class="news-date mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center"
    datetime="{{ time.Format "2006-01-02" $item.Date }}">{{ time.Format (site.Params.locale.date_format | default ":date_long") $item.Date }}
  </time>
</article>
